.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  color: #333;
  font-family: 'Georgia', serif;
  margin: 0;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(3px + 2vmin);
  color: #282c34;
}

.Title-section {
    font-weight: bold;
}

.About-section {
    /* background-color: green; */
    color: #282c34;
    font-size: calc(3px + 2vmin);
    text-align: left;
    line-height: 1.7;
    max-width: 500px;
}

.Personal-info {
  color: #282c34;
  font-size: calc(3px + 2vmin);
  align-items: center;
  text-align: center;
}

.Contact-info {
  color: #282c34;
  font-size: calc(3px + 2vmin);
  align-items: center;
  text-align: center;
}

.App-link {
  color: #4F758B;
  font-size: calc(3px + 2vmin);
  align-items: center;
  text-align: center;
}

.image {
    padding-left: 10vmin;
    padding-right: 10vmin;
}

img {
    padding-right: 3vmin;
    float: left;
}
