.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  color: #333;
  font-family: 'Georgia', serif;
  margin: 0;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #282c34;
}

.Title-section {
    font-weight: bold;
}

.About-section {
    /* background-color: green; */
    color: #282c34;
    text-align: left;
    max-width: 800px;    /* limit max width for readability */
    width: 90%;             /* allow shrinking on small screens */
    padding: 0 1rem;        /* add horizontal padding for phones */
    box-sizing: border-box; /* ensures padding doesn't overflow */
}

.Personal-info {
  color: #282c34;
  align-items: center;
  text-align: center;
}

.Contact-info {
  color: #282c34;
  align-items: center;
  text-align: center;
}

.App-link {
  color: #4F758B;
  align-items: center;
  text-align: center;
}

.image {
    padding-left: 10vmin;
    padding-right: 10vmin;
}

img {
    padding-right: 3vmin;
    float: left;
}

/* Set font size everywhere */
body {
    font-size: 16px;
    line-height: 1.7;
}
